body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff7e6;
    color: #333;
}

header {
    background-color: #ff7a18;
    color: white;
    padding: 20px;
    text-align: center;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.buttons {
    margin-top: 30px;
}

.btn {
    background-color: #ff7a18;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}

.btn.secondary {
    background-color: #2b90d9;
}

.btn:hover {
    opacity: 0.9;
}

.form-section {
    max-width: 400px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

/*input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}*/

.filter {
    text-align: center;
    margin: 20px;
}

.vendor-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.vendor-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    border-left: 6px solid #ff7a18;
}
